.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 15px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  color: #5a7e33;
}

.sidebar .nav-link .feather {
  margin-right: 6px;
  margin-top: 1px;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

td .edit-icon, td .delete-icon {
  padding: 0;
  line-height: 1;
  margin: -7px 5px 0;
}
td .edit-icon:focus, td .delete-icon:focus {
  box-shadow: none;
}

.delete-btn-wrap {
  display: inline-block;
}

@media (max-width: 767px) {
  .logout-wrap {
    margin-right: 85px;
  }

  .sidebar {
    bottom: inherit;
  }
}
