body {
  margin: 0;
  padding: 10px;
}

.navigation {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.navigation li {
  margin-right: 12px;
}
.navigation li:last-child {
  margin-right: 0;
}
