body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

header .nav-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.1rem;
}

.navigation {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.navigation li {
  margin-right: 15px;
}
.navigation li:last-child {
  margin-right: 0;
}
.navigation li a {
  color: inherit;
  text-decoration: none;
}

.content {
  margin: 30px 0;
}
.content h1 {
  text-align: center;
  margin: 2rem 0;
}

.form-signin, .form-signup {
  width: 100%;
  max-width: 330px;
  margin: auto;
}
.form-signin .form-floating, .form-signup .form-floating {
  margin-bottom: 1rem;
}

.btn-primary, .btn-primary:hover {
  color: #fff;
}
